footer#footer
  nav.nav-footer-sub
    .wrapper
      .rows
        .cols.col-12
          ul.list-footer-nav-sub
            li: a(href="").link プライバシーポリシー
            li: a(href="").link 掲載をお考えの方へ
  .footer-main
    .wrapper
      .rows
        .cols.col-6
          .footer-block.footer-about
            .footer-about-logo
              span.logo-footer: a(href="/"): img(src="/images/common/logo_white.svg", alt="私とマチのネットワーク I＋[イット]" width="89")
              span.logo-footer-caption I＋[イット]とは
            .footer-about-content
              p I+[イット]はWebデザイナー養成スクール、デジタルハリウッドSTUDIO米子の受講生＆卒業生達で創っているフリーペーパーです。
              p デジハリで学んだスキルを活用し、「デジタル×アナログの新しいカタチ」をコンセプトに学びながら情報発信するフリーマガジン＆Webサイトです。
              .footer-about-bottom
                p: a(href="/about/").link.link-primary 詳しく見る
        .cols.col-6
          nav.nav-footer-main
            ul.list-footer-main
              li: a(href="/") トップページ
            ul.list-footer-main
              li: a(href="") I＋[イット]とは？
              li: a(href="") 掲載店舗一覧
              li: a(href="") お問い合わせ
              li: a(href="") 設置場所一覧
              li: a(href="") プライバシーポリシー
              li: a(href="") 掲載をお考えの方へ
  .footer-bottom.copyright
    p: small Copyright © 2018 Yonago Contents Factory All Rights Reserved.