header#header
  .wrapper
    .rows
      .cols.col-12
        .header-logo: a(href="/"): img(src="/images/common/logo.svg", alt="私とマチのネットワーク I＋[イット]" width="82")
        .header-caption
          p 私とマチのネットワーク I+[イット]
.nav-bars
  span.bars
  span.bars
  span.bars
nav.header-nav
  .wrapper
    .rows
      .cols.col-12.pdx-0-sm
        .block-nav-global
          ul.list-global
            li: a(href="/") トップページ
            li: a(href="") I＋とは？
            li: a(href="") スペシャル特集
            li: a(href="") 掲載店舗一覧
            li: a(href="") 設置場所一覧
            li: a(href="") お問い合わせ