if common.useMinCss
	link(rel="stylesheet" type="text/css" href=label.depth + common.cssPath + "style.min.css")
else
	link(rel="stylesheet" type="text/css" href=label.depth + common.cssPath + "vendor.css")
	link(rel="stylesheet" type="text/css" href=label.depth + common.cssPath + "style.css")