if common.ogp
	meta(property='og:title', content=label.title)
	meta(property='og:type', content=common.ogType)
	meta(property='og:url', content=common.siteUrl + label.dirName)
	meta(property='og:image', content=common.siteUrl + common.ogImage)