@charset "utf-8";

.table{
  width: 100%;
  th,td{
    padding: 12px;
    vertical-align: top;
  }
  th{
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
  }
}

.table-default{
  th,td{
    border: 1px solid #DDD;
  }
  th{
    background-color: #EEE;
  }
}

.table-info{
  th,td{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    
    @include media(sm){
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  th{
    @include media(sm){
      background-color: #DDD;
    }
  }
}