@charset "utf-8";

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}

@each $media in $style-media{
  @include media($media){
    .fl-#{$media} {float: left;}
    .fr-#{$media} {float: right;}
    .clear-#{$media} {clear: both;}
  }
}
