@charset "utf-8";

.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

@each $media in $style-media{
  @include media($media){
    .text-center-#{$media} { text-align: center; }
    .text-right-#{$media} { text-align: right; }
    .text-left-#{$media} { text-align: left; }
  }
}

.small{ font-size: 0.8em; }
.bold{ font-weight: 700; }

//
// captions
//

.caption-block-top{
  @include media(mdu){
    font-size: 18px;
  }
}