@charset "utf-8";

/*
---
name: Base
category: Base
---

ページの基本スタイル
 
```jade
p 小さな谷川の底を写した二枚の青い幻燈です。<br>二疋の蟹の子供らが青じろい水の底で話していました。
hr
p: a(href="") 『クラムボンはわらったよ。』
p: strong 『クラムボンはかぷかぷわらったよ。』
p: small 『クラムボンは跳ねてわらったよ。』
```
*/

body {
  font-family:$ja-go;
  font-size:$base-font-size;
  color:$base-font-color;
  line-height: $base-line-height;
  background: $base-background;
  text-size-adjust: 100%;
  font-weight: 500;
  @include media(sm){
    padding-top: 64px;
    font-size: 14px;
    line-height: 1.6;
  }
}

a{
  text-decoration: underline;
  color: $color-link;
  &:hover{
    text-decoration: none;
    color: $color-link-hover;
  }
}

p{
  margin-bottom: $base-text-margin;
}

strong{
  font-weight: 700;
}

small{
  font-size: 0.82em;
}

hr{
  border:none;
  border-bottom: #ccc;
}