@charset "utf-8";

img{
  max-width: 100%;
  height: auto;
}

.flex-gmap,.flex-video{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
  iframe,object,embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}



