extends /templates/_layout
block vars
  - var label = shop;
block content
  .wrapper
    .block-header
      h2.title.title-block-header 掲載店舗一覧
    .block-filter
      a(href="#").button.button-rounded.button-primary 全て
      a(href="#").button.button-rounded.button-primary 安来市
      a(href="#").button.button-rounded.button-primary 米子市
      a(href="#").button.button-rounded.button-primary 境港市
      a(href="#").button.button-rounded.button-primary 倉吉市
    .area-shoplist-main
      .block-shop-list
        // ループ:店舗リスト
        - var i = 1;
        while i <= 9
          a(href="single.html").item-block.item-block-shop
            .block-shop-photo
              img(src="https://placehold.jp/260x170.png", alt="")
              span.block-shop-cat.ca-yasugi  安来市
            .block-shop-content
              h3.title.title-shop-name 道の駅　あらエッサ
              ul.list-shop-tags
                li
                  span.fa.fa-tag
                  |遊ぶ
                li
                  span.fa.fa-tag
                  |食べる
                li
                  span.fa.fa-tag
                  |体験する
              .block-shop-footer
                span.text-primary 詳しく見る
          - i++;
        // /ループ:店舗リスト
