extends /templates/_layout
block vars
  - var label = page;
block content
  .wrapper
    .wrapper-single
      .block-introduction
        .block-introduction-photo
          img(src="https://placehold.jp/1200x700.png", alt="" width="")
        .block-introduction-text
          h1.title.title-block-header About I+ [イット]とは？
        .block-introduction-content
          img(src="https://placehold.jp/1200x700.png", alt="" width="30%")
          img(src="https://placehold.jp/1200x700.png", alt="" width="30%")
          img(src="https://placehold.jp/1200x700.png", alt="" width="30%")
          img(src="https://placehold.jp/1200x700.png", alt="" width="30%")
      .block-contribution
        .contribution-content
          h1 テキストテキストテキストテキストテキストテキスト
          h2 テキストテキストテキストテキストテキストテキスト
          h3 テキストテキストテキストテキストテキストテキスト
          h4 テキストテキストテキストテキストテキストテキスト
          h5 テキストテキストテキストテキストテキストテキスト
          h6 テキストテキストテキストテキストテキストテキスト
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          table
            thead
              tr
                th テーブル見出し1
                th テーブル見出し2
                th テーブル見出し3
            tbody
              tr
                td テーブル1
                td テーブル2
                td テーブル3
              tr
                td テーブル1
                td テーブル2
                td テーブル3
          table
            tbody
              tr
                th テーブル見出し1
                td テーブル2
                td テーブル3
              tr
                th テーブル見出し2
                td テーブル2
                td テーブル3
              tr
                th テーブル見出し3
                td テーブル2
                td テーブル3
          ul
            li リスト1
            li リスト2
            li リスト3
          ol
            li リスト1
            li リスト2
            li リスト3
        .block-share
          p この記事はいかがでしたか？
          p 気に入りましたらシェアお願いします！
          .share-icon
            i.fab.fa-facebook.fa-3x.color-facebook
            i.fab.fa-twitter-square.fa-3x.color-twitter
            i.fab.fa-line.fa-3x.color-line
