extends /templates/_layout
block vars
  - var label = page;
block content
  .wrapper
    .rows
      .cols.col-12
        .block-header
          img(src="https://placehold.jp/1200x700.png", alt="" width="80%")
    .block-header-text
      h1 About I+ [イット]とは？
      p テキストテキストテキストテキストテキストテキストテキストテキスト
      p テキストテキストテキストテキストテキストテキストテキストテキスト
      p テキストテキストテキストテキストテキストテキストテキストテキスト
      p テキストテキストテキストテキストテキストテキストテキストテキスト
      
    .block-contribution
      .contribution-header
        h1.title.title-block-header 見出し
      .contribution-content
        h2 見出し
        h3 テキストテキストテキストテキストテキストテキスト
        h4 テキストテキストテキストテキストテキストテキスト
        h5 テキストテキストテキストテキストテキストテキスト
        h6 テキストテキストテキストテキストテキストテキスト
        table
          tr
            th 見出し
            th 見出し
            th 見出し
          tr
            td 内容
            td 内容
            td 内容
          tr
            td 内容
            td 内容
            td 内容
          tr
            td 内容
            td 内容
            td 内容    
        table
          tr
            th 見出し
            td 内容
            td 内容
          tr
            th 見出し
            td 内容
            td 内容
          tr
            th 見出し
            td 内容
            td 内容
            
      .block-share
        p この記事はいかがでしたか？
        p 気に入りましたらシェアお願いします！
        i.fab.fa-facebook
        i.fab.fa-twitter
        i.fab.fa-line
