@charset "utf-8";

/*
---
name: Footer
category: Layout
---

フッターのスタイル
 
```jade
footer#footer
```
*/

footer#footer{
  background-color: #232630;
  color: #E1E5E9;
  margin-top: 40px;
  @include media(md){
    margin-top: 60px;
  }
  @include media(lg){
    margin-top: 100px;
  }
  
  a{
    color: #E1E5E9;
  }

  .nav-footer-sub{
    background-color: #E2E2E2;
    color: #222;
    overflow: hidden;
    padding-top: 14px;
    padding-bottom: 14px;
    @include media(sm){
      display: none;
    }
    
    a{
      color: #222;
    }

    .list-footer-nav-sub{
      float: right;
      li{
        display: inline-block;
        margin-left: 2em;
      }
    }
  }

  .footer-main{
    @include media(sm){
      padding-top: 20px;
    }
  }

  .footer-about{
    display: flex;
    align-items: center;
    @include media(sm){
      flex-direction: column;
    }
    
    .footer-about-logo{
      display: flex;
      align-items: flex-end;
      @include media(sm){
        margin-bottom: 10px;
      }
    }
    
    .logo-footer{
      display: inline-block;
      vertical-align: bottom;
      img{
        max-width: none;
        @include media(sm){
          width: 50px;
        }
      }
    }

    .logo-footer-caption{
      display: inline-block;
      vertical-align: bottom;
      white-space: nowrap;
      font-size: 18px;
      margin-left: 15px;
    }
  }

  .footer-about-content{
    @include media(mdu){
      padding-left: 20px;
      margin-left: 20px;
      border-left: 2px solid #707070;
    }
  }

  .footer-main{
    margin-top: 15px;
    margin-bottom: 15px;
    @include media(mdu){
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .footer-about-bottom{
    text-align: right;
    color: #FFF;
    
    a{
      color: $color-primary;
    }
  }

  .footer-bottom{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    @include media(mdu){
      border-top: 1px solid #707070;
    }
    @include media(sm){
      margin-top: -15px;
    }
    
    p{
      margin-bottom: 0;
    }
  }


  .list-footer-main{
    @include media(mdu){
      margin-top: -10px;
      margin-bottom: 10px;
    }
    li{
      @extend .fa;
      @extend .fa-chevron-circle-right;
      @include media(sm){
        display: block;
        margin-bottom: 1px;
        &:before{
          content: none;
        }
      }
      @include media(mdu){
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 1.5em;
      }
      &:before{
        color: $color-primary;
        margin-right: 0.5em;
      }

      a{
        @extend .fa;
        @extend .fa-angle-right;
        position: relative;
        @include media(sm){
          display: block;
          padding: 15px 12px;
          text-decoration: none;
          background-color: lighten(#232630, 10);
        }
        &:before{
          @include media(sm){
            position: absolute;
            right: 12px;
          }
        }
        @include media(mdu){
          &:before{
            content: none;
          }
        }
      }
    }
  }
}