//- パンくず用mixin
mixin breadcrumb(list,link)
	ul
		- for(var i = 0; i < list.length; i++) {
			- if(i === list.length-1) {
				li=list[i]
			- } else {;
				li
					a(href!=link[i])!=list[i]
			- };
		- };