@charset "utf-8";

.wrapper-news{
  max-width: 860px;
  margin: 0 auto;
}

.item-block-news{
  border-bottom: 1px solid #DDD;
  position: relative;
  @include media(sm){
    padding-left: 10px;
    padding-right: 10px;
  }
  .block-news-photo{
    
  }
  .block-news-content{
    padding: 0;
    margin-left: 10px;
    @include media(mdu){
      padding-left: 280px;
    }
    @include media(sm){
      padding-left: 100px;
    }

    .date{
      font-size: 12px;
      margin-bottom: 5px;
      @include media(sm){
        font-size: 10px;
        margin-bottom: 2px;
      }
    }

    h3{
      @include media(sm){
        font-size: 15px;
        margin-bottom: 10px;
      }
    }

    .block-news-text{
      @include media(sm){
        display: none;
      }
    }

  }

  .block-news-footer{
    text-align: right;
    color: #FFC43A;
    @include media(sm){
      font-size: 11px;
      margin-top: 0px;
    }
  }
}