@charset "utf-8";

//共通scss
//見出し余白
  .title-margin{
   margin: 100px 0;
  }
 //見出し余白 END
//フィルター
  .block-filter{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    @include media(md){
      flex-wrap: none;
    }
    button{
      margin: 5px 0 0px 5px;
      width: 100%;
    }
  }
//フィルター END
//店舗一覧
  .block-shop-list{
    flex-wrap: wrap;
    margin-top: 5%;
  }
//店舗一覧 END


//共通scss END

//ウィンドウ幅が0px〜767pxの場合に適用するscss
@include media(sm){
  .title-margin{
    margin: 50px 0;
  }
  .block-filter{
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 5px;
    a{
      width: initial;
    }
  }
  .item-block-shop{
    position: relative;
    .block-shop-footer{
      position: absolute;
      right: 0;
      bottom: 7px;
    }
  }
}
//ウィンドウ幅が0px〜767pxの場合に適用するscss END

//ウィンドウ幅が768px〜の場合に適用するscss
@include media(mdu){

}
//ウィンドウ幅が768px〜の場合に適用するscss END

.js-shoplist{
  @include media(mdu){
    justify-content: flex-start;
  }
  a{
    box-sizing: border-box;
    @include media(mdu){
      margin-left: 0;
      margin-right: 0;
    }
    @include media(md){
      width: 25%;
      padding-left: 5px;
      padding-right: 5px;
    }
    @include media(lg){
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
