@charset "utf-8";

//余白変数
$pjmargin-top1: 100px;
$pjmargin-top2: 50px;
//余白変数

//共通scss
 .wrapper-single{
   max-width: 860px;
   margin: 0 auto;
   background-color: #fff;
//店舗紹介
   .block-introduction{
     margin-top: $pjmargin-top1;
     .block-introduction-text{
       h1{
         border-bottom:solid 1px #222;
         padding: 20px 0 10px 0;
         text-align: left;
       }
       p{
         margin-top: 1.6em;
         text-align: left;
       }
     }
   }
//店舗紹介 END
//投稿
  .block-contribution{
      margin-top: $pjmargin-top1;
    .contribution-header{
      border-bottom:solid 1px #222;
      padding-bottom: 10px;
      h1{
        text-align: center;
      }
    }
    .contribution-content,
    .contribution-content2{
        margin-top: $pjmargin-top2;
      table{
        width: 100%;
        table-layout: fixed;
      }
      th,td{
        border-bottom:solid 1px #222;
        padding: 10px;
      }
      th{
        font-weight: bold;
      }
      td{
        text-align: center;
      }
    }
  }
//投稿　END
//店舗情報
  .block-shop-infomation{
    margin-top: $pjmargin-top1;
    .title-block-header{
      text-align: center;
    }
    .shop-infomation-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      .shop-infomation-photo{

      }
      .shop-infomation-text{
        max-width: 60%;
        table{
          width: 100%;
          teble-layout: fixed;
        }
        th,td{
          margin: 0;
          border-bottom:solid 1px #222;
          padding: 10px;
        }
        tr:first-child{
          border-top: solid 1px #222;
        }
        th{
          width: 30%;
          text-align: left;
          font-weight: bold;
        }
      }
  }
//店舗情報　END
//シェア
  .block-share{
    margin-top: $pjmargin-top1;
    text-align: center;
    p{
      margin: 0;
    }
    p:last-child{
      margin-bottom: 1.6em;
    }
    .share-icon{
      display: flex;
      justify-content: center;
      margin-top: 1em;
      i{
        margin: 0 10px;
      }
      .color-facebook{
        color: #3B5998;
      }
      .color-twitter{
        color: #1DA1F2;
      }
      .color-line{
        color: #00c300;
      }
    }
  }
//シェア END
//クーポン
  .block-coupon{
    margin-top: $pjmargin-top1;
    text-align: center;
    .button-primary{
      margin-top: 10px;
    }
  }
//クーポン END
//関連
  .block-relation{
    margin-top: $pjmargin-top1;
    .relation-link{
      height: 150px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #222;
      a{
        text-decoration: none;
        color: #222;
      }
      p{
        margin: 0;
      }
    }
    .next-page{
      width: 50%;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-right: solid 1px #222;
      padding: 0 20px 0 5px;
      position: relative;
      p.sub{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 10px;
      }
    }
    .back-page{
      width: 50%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px 0 20px;
      position: relative;
      p.sub{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 10px;
      }
    }
    .area-shoplist-main{
      position: relative;
      .block-shop-list-header{
        margin-top: 5%;
        .sub-header{
          text-align: center;
          span{
            font-weight: normal;
            color: #222;
            margin-left: 0.5em;
          }
          .color-header{
            color: #FFC43A;
          }
        }
      }
    }

  }
//関連 END
}//共通scss END

//ウィンドウ幅が0〜767pxの場合に適用するscss
@include media(sm){
//余白
.wrapper-single{
  .block-introduction,
  .block-contribution,
  .block-shop-infomation,
  .block-share,
  .block-coupon,
  .block-relation{
    margin-top: $pjmargin-top2;
  }
  .block-contribution{
    .contribution-content,
    .contribution-content2{
      margin-top: 30px;
    }
  }
  .title-margin{
    margin: 50px 0;
  }
}
//余白 END
//店舗情報
  .block-shop-infomation{
    .shop-infomation-content{
      flex-wrap: wrap;
      .shop-infomation-text{
        max-width: initial;
      }
    }
  }
//店舗情報　END
  //関連
  .wrapper-single
    .block-relation{
      .fa-angle-left,
      .fa-angle-right{
        font-size: 1.5em;
      }
      .next-page{
        padding: 0 10px 0 3px;
        p.sub{
          right: 10px;
        }
      }
      .back-page{
        padding: 0 3px 0 10px;
        p.sub{
          left: 10px;
        }
      }
    }
  //関連 END
}
//ウィンドウ幅が0〜767pxの場合に適用するscss END

//ウィンドウ幅が768px〜の場合に適用するscss
@include media(mdu){

}
//ウィンドウ幅が767px〜の場合に適用するscss END
